#container {
  position:absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  /*background: black;*/
}

#board {
  position:absolute;
  width:60%;
  height:100%;
  text-align: bottom;
  padding: 0 5px;
}

#debug {
  position: absolute;
  left:60%;
  width:40%;
  height:100%;
  background: gray;
  padding: 0 0 0 5px;
}

#compressor{
  height:50%;
  background: blue;
}

#compressed{
  height:50%;
  background: green;
}

.line {
  font-size: 2em;
  bottom: 0;
  left:0;
  right:0;
  /*background: black;*/
}

.me {
  font-size: 1.2em;
  color: blue;
}
.other {
  font-size: 1.2em;
  color: orange;
}

#seed-data-1, #seed-data-2 {
  display:none;
}